/*****************Tag Selectors***************/
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: white;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}
/*****************Class Selectors*************/

.container-fluid {
  padding: 7% 15%;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-family: "Montserrat-light";
  font-size: 1.2rem;
  color: #e5e5e5;
}

.navbar {
  padding: 0 0 4.5rem;
}

.download-button {
  margin: 5% 3% 5% 0%;
}

.title-image {
  width: 70%;
  transform: rotate(25deg);
  position: absolute;
  left: 80px;
  top: 15px;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.pricing-col {
  padding: 3% 2%;
}

.cta-heading {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

.footer-icon {
  margin: 20px 10px;
  color: #444141;
}
/*****************ID Selectors***************/

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title.container-fluid {
  padding: 7% 15% 3%;
}

#features {
  background-color: #fff;
  position: relative;
}

#testimonials {
  background-color: #ef8172;
  color: #fff;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
}

#cta {
  background-color: #ff4c68;
  color: #fff;
}

#footer {
  font-size: 1.5rem;
  background-color: #fff;
}
/*********************Media Queries*****************/

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
